.cajas {
    height: 20px;
    background-color: $menta;
    color: $blanco;
    font-family: $open-sans;
    font-weight: $light-open;
    font-size: 12pt;
    margin-top: 3px;
    margin-bottom: 3px;

    &:hover {
        background-color: $menta-oscuro;
    }
}