//tipografías
$arvo: 'Arvo', serif;
$open-sans:'Open Sans Condensed', sans-serif;

//pesos
$light-open: 300;
$regular-arvo: 400;
$bold: 700;

//tamaños


//colores
$blanco: #ffffff;
$mostaza: #C9B849;
$naranjo-claro: #C96823;
$naranjo-oscuro: #BE3100;
$rojo: #DB3A34;
$cafe: #241714;
$turquesa: #026a6a;
$turquesa-oscuro: #124545;
$menta: #50bf9b;
$menta-oscuro: #177E89;
