.listado-derecho {
    width: 20%;
    height: 100%;
    text-align: center;
    h3 {
        font-family: $arvo;
        margin-bottom: 0.5rem;
    }
    p {
        text-align: justify;
    }
    hr {
        width: 4.5rem;
        margin-top: 0;
    }
    h4 {
        font-weight: $light-open;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
}

ul{
    padding-left: 0;
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

li{
    text-align:center;
}

.textoaside {
    font-family: $open-sans;
    font-weight: $light-open!important;
    font-size: 12pt;
}


@media (max-width: 992px) {
    .listado-derecho {
        display:none;
    }
}
    